.lista-borde {
  border-bottom: 2px solid black;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
  padding-top: 5px;
}

.tick {
    transition: color 0.3s; /* Añade una transición suave */
    cursor: pointer;
}

.tick:hover {
    color: rgb(56, 187, 95); /* Cambia el color del círculo al pasar el ratón */
}

.lapiz {
    transition: color 0.3s; /* Añade una transición suave */
    cursor: pointer;
}

.lapiz:hover {
    color: rgb(93, 181, 249); /* Cambia el color del círculo al pasar el ratón */
}

.basura {
    transition: color 0.3s; /* Añade una transición suave */
    cursor: pointer;
}

.basura:hover {
    color: red; /* Cambia el color del círculo al pasar el ratón */
}
