.divPadreLista {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap:30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.divTextoLista {
  display: flex;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.divTextoLista > * {
  border-right: 0.5px solid black;
}
.divTextoLista > * >*{
  height: 28px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.divTextoLista > *:not(:first-child) *{
  justify-content: center; 
}

.tick {
  transition: color 0.3s; /* Añade una transición suave */
  cursor: pointer;
}

.tick:hover {
  color: rgb(56, 187, 95); /* Cambia el color del círculo al pasar el ratón */
}

.lapiz {
  transition: color 0.3s; /* Añade una transición suave */
  cursor: pointer;
}

.lapiz:hover {
  color: rgb(93, 181, 249); /* Cambia el color del círculo al pasar el ratón */
}

.basura {
  transition: color 0.3s; /* Añade una transición suave */
  cursor: pointer;
}

.basura:hover {
  color: red; /* Cambia el color del círculo al pasar el ratón */
}

input {
  border: none;
  margin-bottom: 10px;
}
input[readonly] {
  background-color: #ddd; /* O el color que prefieras */
}

body {
  overflow: hidden;
}
.divTexto {
  display: flex;
}
.divTexto * {
  border-right: 1px solid black;
}
.divTexto :last-child {
  border-right: none;
}
.botonesTiempos{
  color: white;
  font-size: large;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}
.botonesTiempos:disabled{
  background-color: #38bce8;
}
